alacritty
autostart
balena-etcher
baloofileinformationrc
BraveSoftware
bspwm
cef_user_data
chromium
cmus
coc
cpupower_gui
dconf
deluge
discord
dunst
Genymobile
GIMP
github-copilot
GNS3
go
google-chrome
grub
gtk-2.0
gtk-3.0
gtk-4.0
guiscrcpy
htop
kdeglobals
kdenlive-layoutsrc
kdenliverc
kde.org
keyd
libreoffice
light
menus
Microsoft
microsoft-edge
Microsoft Teams - Preview
mimeapps.list
nemo
neofetch
nextjs-nodejs
nvim
obs-studio
onlyoffice
org.keshavnrj.ubuntu
pavucontrol.ini
picom
polybar
procps
pulse
QtProject.conf
redshift
rofi
rofi.neo
session
sxhkd
teams
Thunar
Typora
VirtualBox
vlc
wal
wofi
wireshark
xfce4
zoom.conf
zoomus.conf
