Altair GraphQL Client
autostart
baloofileinformationrc
beets
binwalk
BraveSoftware
bspwm
cef_user_data
chromium
cmus
coc
Code - Insiders
configstore
cpupower_gui
dconf
deluge
discord
freerdp
Genymobile
gh
GIMP
github-copilot
glow
GNS3
go
Google
google-chrome
grub
gtk-2.0
gtk-3.0
gtk-4.0
guiscrcpy
htop
interactsh-client
kdeglobals
kdenlive-layoutsrc
kdenliverc
kde.org
keyd
libreoffice
light
linode-cli
menus
Microsoft
microsoft-edge
Microsoft Teams - Preview
mimeapps.list
mpd
ncmpcpp
nemo
neofetch
nextjs-nodejs
nvim
obs-studio
obsidian
onlyoffice
org.keshavnrj.ubuntu
pavucontrol.ini
pdtm
picom
polybar
Postman
procps
pulse
pypoetry
QtProject.conf
redshift
rizin
rofi
rofi.neo
session
simple-update-notifier
sxhkd
systemd
teams
thorium
Thunar
Typora
VirtualBox
vlc
wal
whatscli
wireshark
xfce4
ytmdl
zoom.conf
zoomus.conf
