# Ignore everything
/*

# Un-ignore specific files
!starship.toml
!user-dirs.dirs
!install.sh
!README.md

# Un-ignore specific directories and their contents
!dunst/
!foot/
!scripts/
!sway/
!wallpapers/
!wofi/
!waybar/
!eww/
!fish/

# Ensure files inside the allowed directories are included
!dunst/**
!foot/**
!kitty/**
!scripts/**
!sway/**
!wallpapers/**
!wofi/**
!waybar/**
!eww/**
!fish/**
fish/fish_variables
fish/conf.d/fish_frozen_*
