configuration {
    show-icons: true;
    icon-theme: "Adwaita";
    terminal: "kitty";
    modi: "drun";
    drun-display-format: "{name}";
    font: "Iosevka Nerd Font 14";
    display-drun: "";
}

@theme "~/.config/rofi/theme.rasi"
