* {
    bg: #1A1B26;
    fg: #F1F1F1;
    accent: #7AA2F7;
    border-col: rgb(52, 64, 76);
    font: "Iosevka Nerd Font 14";
}

window {
    width: 30%;
    height: 50%;
    location: center;
    anchor: center;
    border: 1px solid;
    border-color: @fg;
    background-color: @bg;
}

mainbox {
    background-color: @bg;
    children: [ inputbar, listview ];
}

inputbar {
    background-color: @bg;
    border: 2px solid;
    border-color: @border-col;
    margin: 15px;
    padding: 8px;
    children: [ entry ];
}

entry {
    background-color: @bg;
    text-color: @fg;
    placeholder: "";
}

listview {
    background-color: @bg;
    scrollbar: false;
    margin: 0 15px 15px 15px;
    columns: 1;
    fixed-height: true;
}

element {
    background-color: transparent;
    text-color: @fg;
    padding: 4px 15px;
    margin: 1px 0;
}

element selected {
    background-color: @accent;
    text-color: @bg;
    border-radius: 0;
}

element-icon {
    size: 24px;
    margin: 0 10px 0 0;
    background-color: transparent;
}

element-text {
    text-color: inherit;
    background-color: transparent;
    vertical-align: 0.5;
}
